
<div class="container">

  <h3 class="d-flex justify-content-center">MR </h3>
  <h5 class="d-flex justify-content-center">MReserverenapp</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button routerLink="inlogen"
      class="m-1 btn btn-light btn-outline-primary" Button>Inlogen</button>
  </li>

  <li class="nav-item">
    <button routerLink="profile"
    class="m-1 btn btn-light btn-outline-primary" Button>Profile</button>
</li>

  <li class="nav-item">
    <button routerLink="reserveren"
    class="m-1 btn btn-light btn-outline-primary" Button>Reseveren</button>
</li>

      <li class="nav-item">
          <button routerLink="gebruikers"
          class="m-1 btn btn-light btn-outline-primary" Button>Gebruikersbeheer</button>
      </li>

      <li class="nav-item">
          <button routerLink="ruimte"
          class="m-1 btn btn-light btn-outline-primary" Button>RuimteBeheer</button>
      </li>

      <li class="nav-item">
        <button routerLink="reseverenbeheer"
        class="m-1 btn btn-light btn-outline-primary" Button>Reseverenbeheer</button>
    </li>
  </ul>
  </nav>

<router-outlet></router-outlet>

</div>